DATABASE_URL=tu_neon_db_url
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_EXPORTER_OTLP_HEADERS=
OTEL_SERVICE_NAME=utp-pagos-api
FRONTEND_URL=https://tu-app.vercel.app
LOCAL_FRONTEND_URL=http://localhost:3000
